<p>Hey {{ name }},</p>
<p>Please see below your <b>One Time Password</b></p>
<p>
  <strong><b>{{ password }}</b></strong>
</p>

<p>Will expire in 5mins</p>
<p>If you did not request this email you can safely ignore it.</p>